.restador {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 200px;
}
body {
  background-image: url("../images/estadio.webp");
  background-size: 2304px 1109px;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
}
/* 
.restador {
  width: 200px;
  height: 200px;
}
 */


.temporizador {
  display: flex;
 
  height: 330px;
  
  justify-content: center;
  /* margin-top: 160px; */
  
}

.temprueba {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  /* padding-top: 340px; */
  /* padding-bottom: 400px; */
  /* background-color: blue; */
  right: 0;
  /* position: absolute; */
  /* bottom: 0; */
}

#keyboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.divLetras {
  background-color: rgb(199, 207, 209);
  border: 3px rgb(93, 82, 82) calc;
  color: rgb(0, 0, 0);
  font-size: 34px;
  

  /* padding: 10px;
  margin: 8px; */
}

.divLetras:hover {
  background-color: rgb(121, 216, 106);
}

.line {
  display: flex;
}
.divespacios {
  margin: 10px;
  font-size: 40px;
  color: #ffffff;
}

.images {
  width: 300px;
  height: 300px;
  /* margin-left: 100px; */
}

.contador {
  border: 2px black solid;
  border-radius: 100px;
  background-color: beige;
  position: absolute;
  right: 0;
  top: 0;
  padding: 20px;
  margin: 40px;
  font-size: 30px;
}

/* CONTENEDOR // IMAGEN && TECLADO */
.elements_container {
  width: 100%;
  display: flex;
  margin-top: 240px;
  align-items: center;
  justify-content: end;
  flex-direction: column;
}

.imagen {
  width: 45%;
  z-index: 1;
  left: 140px;
  bottom: 280px;
  position: absolute;
}

.papacaja {
  width: 100%;
  display: flex;
  margin-bottom: 115px;
  justify-content: center;
}

.contenedorKeys {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom:0px;
}
