/* .contenedor {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    bottom: 0;

    background-color: blue;

  } */

  
.papacaja{
    width: 100%;
    height: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     margin-top: 270px;
     justify-content: space-around;
}

/* 

.contenedorLetras {
  display: flex;
  text-align: right;
} */


#keyboard {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  bottom: 0;
  /* margin-left: 6%;
  margin-right: 6%; */
} 

.divLetras {
  /* margin: 10px; */
  background-color: rgb(30, 122, 147);
  border: 6px rgb(205, 217, 222) dashed;
  color: rgb(255, 255, 255);
  border-radius: 40px;
  padding: 17px;

}
